{
  "Cookie": "INCOLLA_QUI_L_INTERO_COOKIE_DI_YOUTUBE_MUSIC",
  "x-goog-authuser": "0",
  "x-origin": "https://music.youtube.com",
  "x-youtube-client-name": "1",
  "x-youtube-client-version": "17.31.35"
}