# Por favor, substitua os valores abaixo pelas suas credenciais da API do Spotify.
# Não adicione aspas ou espaços extras.
SPOTIFY_CLIENT_ID=INSERISCI_IL_TUO_CLIENT_ID_QUI
SPOTIFY_CLIENT_SECRET=INSERISCI_IL_TUO_CLIENT_SECRET_QUI